@import "tailwindcss";

@theme {
  --color-board: #1a1a2e;
  --color-card-bg: #2d3748;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-board);
  color: white;
}
